* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1111;
    border-radius: 25px;
    height: 100px;
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 25px;
}

main, div {
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.grid-child {
    margin: 0 0 25px 25px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 12px;
    background-color: #0E1111;
    padding: 10px 20px;
}

ul {
    width: 100%;
    padding-left: 50px;
}

li {
    border: 5px;
    list-style: none;
    padding: 10px;
}

li:hover {
    background-color: #282828;
    border-radius: 10px;
}

a {
    color: #CECFD0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

a:hover {
    color: #fff;
}

img {
    width: 100%;
}