* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E1111;
    border-radius: 25px;
    height: 100px;
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 25px;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

ul {
    width: 100%;
    padding-left: 50px;
}

li {
    border: 5px;
    list-style: none;
    padding: 10px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  
    font-size: 16px;
}

img {
    width: 100%;
}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 12px;
    background-color: #0E1111;
    padding: 10px 20px;
}

.top-nav ul {
    display: flex;
}

.top-nav li {
    flex: 1;
}

.top-nav a {
    color: #0E1111;
    display: inline;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 16px;
}

.top-nav a:hover {
    border-bottom: 2px solid #0E1111;
}

.grid-child:first-child {
    margin: 0 0 25px 25px;
}

.grid-child:last-child {
    margin: 0 25px 25px 25px;
}

.side-nav li:hover {
    background-color: #282828;
    border-radius: 10px;
}

.side-nav a {
    color: #CECFD0;

}

.side-nav a:hover {
    color: #fff;
}

.side-nav a {
    display: block;
}

